body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  padding-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.logo-link:hover,
.logo-link:focus {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  display: flex;
  list-style: none;
}

.site-navigation-item {
  padding: 0;
  margin: 0;
  padding-right: 45px;
}

.cart-navigation-link {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.cart-navigation-link::before {
  content: "";
  background: url("../img/cart-icon.svg") no-repeat center;
  width: 15px;
  height: 15px;
  margin-right: 25px;
}

.site-navigation-link {
  padding-bottom: 9px;
}

.site-navigation-link:hover,
.cart-navigation-link:hover,
.site-navigation-link:focus,
.cart-navigation-link:focus {
  color: #fb565a;
}

.site-navigation-link:active,
.cart-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.site-navigation-current,
.site-navigation-current:hover,
.site-navigation-current:focus,
.site-navigation-current:active {
  color: #000000;
  cursor: auto;
}

.slider {
  background-color: #eeeeee;
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 1;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls-item {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: top;
}

.slider-controls-item::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.radio-toggle-one:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.radio-toggle-two:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.radio-toggle-three:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.radio-toggle-one:checked ~ .slider-controls .slider-controls-item-one::before,
.radio-toggle-two:checked ~ .slider-controls .slider-controls-item-two::before,
.radio-toggle-three:checked ~ .slider-controls .slider-controls-item-three::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider-image-one {
  top: 8px;
  right: 31px;
}

.slider-item {
  padding: 0;
  padding-top: 68px;
  padding-bottom: 79px;
  margin: 0;
  position: relative;
  display: none;
}

.slider-active {
  display: block;
}

.slider-wrap{
  width: 515px;
}

.slider-title {
  text-align: left;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 40px;
  color: #283136;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  vertical-align: top;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-more {
  padding-left: 54px;
  padding-right: 54px;
}

.button-order {
  padding-left: 40px;
  padding-right: 40px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.button-gray {
  background-color: #eeeeee;
}

.button-gray:hover,
.button-gray:focus {
  background-color: #dfdfdf;
}

.button-gray:active {
  background-color: #d5d5d5;
}

.button-contact {
  margin-top: 38px;
  padding-left: 44px;
  padding-right: 44px;
}

.button-popup-submit {
  padding-left: 84px;
  padding-right: 84px;
}

.button-catalog {
  color: #000000;
  padding-left: 89px;
  padding-right: 89px;
}

.button-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-pagination {
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.button-pagination-next {
  padding-left: 78px;
  padding-right: 78px;
}

.button-pagination:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-pagination-current,
.button-pagination-current:hover,
.button-pagination-current:focus,
.button-pagination-current:active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  padding-top: 13px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-left: 17px;
  box-shadow: none;
  color: #000000;
}

.button-price {
  margin-top: 30px;
  margin-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;
}

.button-price:active {
  color: #ffffff;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.services {
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.services-list-item {
  max-width: 300px;
  margin-right: 100px;
}

.services-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-list p {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  color: #283136;
  text-align: left;
}

.about {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 74px;
  border-bottom: 1px solid #eeeeee;
}

.about-left {
  max-width: 650px;
  padding-top: 76px;
}

.about-left-main-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.about-left p {
  color: #283136;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.about-left-title {
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.about-left-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-left-list-item {
  color: #283136;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.about-left-list-item:last-child {
  margin-bottom: 0;
}

.about-left-list-item::before {
  content: "";
  background: #fb565a;
  width: 25px;
  height: 2px;
  margin-right: 10px;
}

.about-right {
  max-width: 360px;
  padding-top: 40px;
}

.about-right-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 41px;
  padding: 0;
}

.about-table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table-first-row sup {
  top: -15px;
  font-size: 57%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.table-first-row {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.about-table td {
  padding-top: 0;
  padding-left: 0;
  padding-right: 22px;
}

.table-first-row td:last-child,
.table-second-row td:last-child {
  padding-right: 0;
}

.table-second-row td {
  padding-top: 23px;
  padding-bottom: 0;
  line-height: 18px;
}

.partners {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 80px;
}

.partners-list {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-left: 31px;
  padding-right: 43px;
  padding-bottom: 37px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.partners-list-item {
  margin: 0;
}

.partners-list-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  top: 50%;
  left: 278px;
  transform: translateY(-50%);
}

.partner-one {
  padding-right: 48px;
  padding-top: 6px;
}

.partner-two {
  padding-left: 45px;
  padding-right: 45px;
}

.partner-two::after {
  left: 579px;
}

.partner-three {
  padding-left: 57px;
  padding-right: 57px;
}

.partner-three::after {
  left: 878px;
}

.partner-four {
  padding-left: 63px;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover,
.partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

.contacts {
  width: 219px;
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 46px;
  padding-left:50px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.contacts-title {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  margin-top: 20px;
  width: 201px;
  line-height: 18px;
  color: #666666;
}

.popup-textarea {
  margin-bottom: 50px;
  width: 100%;
  height: 103px;
  padding: 0;
  padding-left: 13px;
  padding-top: 11px;
  resize: none;
  line-height: 18px;
  text-align: left;
  border: 2px solid #d7dcde;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 69px;
}

.social-list {
  margin: 0;
  margin-right: 139px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.social-list-item {
  padding-right: 12px;
}

.social-list-item:last-child {
  padding-right: 0;
}

.social-list-link {
  width: 79px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 60px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #e74246;
}

.social-list-link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-link:active .social-list-icon {
  opacity: 0.3;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 11px;
}

.promo p {
  line-height: 22px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 107px;
  margin: 0;
  margin-bottom: 57px;
  background-color: #eeeeee;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 48px;
}

.filter-range {
  padding-top: 48px;
}

.filter-radio {
  padding-top: 15px;
}

.filter-checkbox {
  padding-top: 16px;
}

.filter-list-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
}

.filter-label {
  line-height: 20px;
  color: #283136;
  padding-left: 6px;
}

.form-legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.price-label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
  margin: 0;
  margin-right: 8px;
}

.price-max {
  margin-left: 29px;
}

.input-text {
  background-color: #eeeeee;
  border: none;
  color: #283136;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 8px 15px;
  width: 80px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-text::-webkit-input-placeholder {
  color: #283136;
}

.input-radio + .label-radio::before {
  content: "";
  background: url(../img/radio-off.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.input-radio:checked + .label-radio::before {
  background: url(../img/radio-on.svg) no-repeat center;
}

.input-radio + .label-radio:hover::before {
  opacity: 1;
}

.input-radio:disabled + .label-radio {
  color: rgba(40, 49, 54, 0.3);
}

.input-radio:disabled + .label-radio::before {
  opacity: 0.1;
}

.input-radio:disabled + .label-radio:hover::before {
  opacity: 0.1;
}

.input-checkbox + .label-checkbox::before {
  content: "";
  background: url(../img/checkbox-off.svg) no-repeat center;
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.input-checkbox:checked + .label-checkbox::before {
  background: url(../img/checkbox-on.svg) no-repeat center;
  width: 27px;
}

.input-checkbox + .label-checkbox:hover::before {
  opacity: 1;
}

.input-checkbox:disabled + .label-checkbox {
  color: rgba(40, 49, 54, 0.3);
}

.input-checkbox:disabled + .label-checkbox::before {
  opacity: 0.1;
}

.input-checkbox:disabled + .label-checkbox:hover::before {
  opacity: 0.1;
}

.items-sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.items-sort-options, .items-sort-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-sort-order-item:first-child {
  margin-right: 18px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-list-next {
  padding-left: 77.881px;
  padding-right: 77.881px;
}

.pagination-list li {
  margin-right: 12px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.items-list {
  list-style: none;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 34px;
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item::before {
  content: "";
  background: url(../img/browser.svg) no-repeat center;
  display: block;
  width: 360px;
  height: 39px;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .items-popup {
  display: block;
}

.catalog-image {
  display: block;
}

.sort-controls {
  opacity: 0.3;
}

.sort-controls:hover,
.sort-controls:focus {
  opacity: 0.6;
}

.sort-controls:active {
  opacity: 1;
}

.sort-controls-current,
.sort-controls-current:hover,
.sort-controls-current:focus,
.sort-controls-current:active {
  opacity: 1;
  cursor: auto;
}

.items-sort-options {
  display: flex;
  justify-content: flex-end;
  margin-right: 47px;
}

.items-sort-options li {
  margin-right: 26px;
}

.items-sort-options li:last-child {
  margin-right: 0;
}

.items-sort-order {
  display: flex;
  justify-content: space-between;
}

.items-sort-order li:last-child {
  margin-right: 0;
}

.items-sort-options-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.items-sort-options-link:hover,
.items-sort-options-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.items-sort-options-link:active {
  color: #000000;
}

.items-sort-options-link.items-sort-options-current {
  color: black;
}

.popup-link:hover,
.popup-link:focus {
  color: #fb565a;
}

.popup-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popup {
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 65px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: none;
}

.popup-header {
  position: relative;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.popup-show {
  display: block;
}

.close-popup {
  position: absolute;
  top: 87px;
  right: 90px;
  transform: translateY(-50%);
  background: url(../img/close-cross.svg) no-repeat center;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.close-popup:hover,
.close-popup:focus {
  opacity: 1;
}

.close-popup:active {
  opacity: 0.1;
}

.input-wrap {
  margin-bottom: 36px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding-right: 37px;
  vertical-align: top;
}

.input-wrap:nth-child(2) {
  padding-left: 20px;
  padding-right: 16px;
}

.popup-form-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 44px;
}

.popup-form label {
  line-height: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.popup-form-field:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.popup-form-field {
  width: 100%;
  padding-left: 13px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 18px;
  text-align: left;
  border: 2px solid #d7dcde;
}

.popup-form-field::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.popup-form-field:hover,
textarea:hover {
  border: 2px solid #b4b9bb;
}

.popup-form-field:focus,
textarea:focus {
  border: 2px solid #000000;
}

.popup-form-field:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #444444;
}

.filter {
  width: 261px;
  margin-right: 139px;
}

.form-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset-range {
  margin-bottom: 54px;
}

.fieldset-radio {
  margin-bottom: 27px;
}

.fieldset-checkbox {
  margin-bottom: 32px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.items {
  width: 761px;
}

.items-sort {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.items-popup-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.items-popup {
  padding-top: 28px;
  background-color: #eeeeee;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  display: none;
}

.items-popup p {
  line-height: 18px;
  color: #666666;
  margin: 0 auto;
  text-align: center;
  max-width: 227px;
}

.map {
  padding: 0;
  padding-top: 55px;
  padding-bottom: 53px;
  position: relative;
}

.map-container {
  position: relative;
}

.map iframe {
  width: 100%;
  height: 416px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.map-image {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-marker {
  position: absolute;
  top: 37px;
  left: 700px;
  z-index: 0;
}

.list-item-range {
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  background: #00ca74;
  height: 2px;
  width: 70%;
}

.range {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.range-min {
  left: 18px;
}

.range-max {
  left: 160px;
}
