body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  padding-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.logo-link:hover, .logo-link:focus {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  display: flex;
  list-style: none;
}

.site-navigation-item {
  padding: 0;
  margin: 0;
  padding-right: 45px;
}

.cart-navigation-link {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.cart-navigation-link::before {
  content: "";
  background: url("../img/cart-icon.svg") no-repeat center;
  width: 15px;
  height: 15px;
  margin-right: 25px;
}

.site-navigation-link:hover,
.cart-navigation-link:hover,
.site-navigation-link:focus,
.cart-navigation-link:focus {
  color: #fb565a;
}

.site-navigation-link:active,
.cart-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}

.site-navigation-current,
.site-navigation-current:hover,
.site-navigation-current:focus,
.site-navigation-current:active {
  color: #000000;
  cursor: auto;
}

.slider {
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls i::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-image {
  position: absolute;
  top: 0;
  right: 0;
}

.slider-image-one {
  top: 8px;
  right: 31px;
}

.slider-item {
  padding: 0;
  padding-top: 68px;
  padding-bottom: 79px;
  margin: 0;

  position: relative;
  display: none;
}

.slider-active {
  display: block;
}

.slider-wrap {
  width: 515px;
}

.slider-title {
  text-align: left;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-more {
  padding-left: 54.328px;
  padding-right: 54.328px;
}

.button-order-red {
  padding-left: 39.7265px;
  padding-right: 39.7265px;
}

.button-order-green {
  padding-left: 39.7265px;
  padding-right: 39.7265px;
  background-color: #00ca74;
}

.button-order-green:hover,
.button-order-green:focus {
  background-color: #00bc6c;
}

.button-order-green:active {
  background-color: #00aa62;
}

.button-order-yellow {
  padding-left: 39.7265px;
  padding-right: 39.7265px;
  background-color: #efc84a;
}

.button-order-yellow:hover,
.button-order-yellow:focus {
  background-color: #eab534;
}

.button-order-yellow:active {
  background-color: #e5a722;
}

.button-contact {
  display: block;
  margin-top: 37px;
  padding: 16px 44.4685px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button-submit {
  display: block;
  margin: 0;
  padding: 16px 83.9995px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.services {
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.services-list-item {
  max-width: 300px;
  margin-right: 100px;
}

.services-title {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-list p{
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  color: #283136;
  text-align: left;
}

.about {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 71px;
  border-bottom: 2px solid #eeeeee;
}

.about-left {
  max-width: 650px;
  padding-top: 73px;
}

.about-left-main-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.about-left p {
  color: #283136;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.about-left-title {
  font-weight: bold;
  padding: 0;
  padding-bottom: 24px;
  margin: 0;
  text-transform: uppercase;
}

.about-left-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-left-list-item {
  color: #283136;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.about-left-list-item:last-child {
  margin-bottom: 0;
}

.about-left-list-item::before {
  content: "";
  background: #fb565a;
  width: 25px;
  height: 2px;
  margin-right: 5px;
}

.about-right {
  max-width: 360px;
  padding-top: 40px;
}

.about-right-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 41px;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

sup {
  top: -15px;
  font-size: 57%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.table-first-row {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

td {
  padding-top: 0;
  padding-left: 0;
  padding-right: 22px;
}

td:last-child {
  padding-right: 0;
}

.table-second-row td {
  padding-top: 18px;
  padding-bottom: 0;
  line-height: 18px;
}

.partners {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.partners-list {
  margin: 0;
  padding: 0;
  padding-left: 31px;
  padding-right: 43px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-list-item {
  margin: 0;
  position: relative;
}

.partner-one {
  padding-right: 48px;
}

.partner-one::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  top: 0;
  right: 0;
}

.partner-two {
  padding-left: 44.5px;
  padding-right: 44.5px;
}

.partner-two::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  top: 0;
  right: 0;
}

.partner-three {
  padding-left: 56.5px;
  padding-right: 56.5px;
}

.partner-three::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  top: 0;
  right: 0;
}

.partner-four {
  padding-left: 63px;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover, .partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

.temp-map {
  padding-top: 54px;
  height: 416px;
  background: url("../img/map.jpg") no-repeat center;
}

.contacts {
  width: 219px;
  min-height: 207px;
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 46px;
  padding-left:50px;
  background-color: #ffffff;
}

.contacts-title {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  margin-top: 18px;
  width: 201px;
  line-height: 18px;
  color: #666666;
}

textarea {
  margin-bottom: 47px;
  width: 743px;
  height: 114px;
  padding: 0;
  padding-left: 15px;
  padding-top: 14px;
  resize: none;
  line-height: 18px;
  text-align: left;
  border: solid 2px #d7dcde;
}

.social-flex {
  display: flex;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 69px;
}

.social-list {
  margin: 0;
  margin-right: 139px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.social-list-item {
  padding-right: 12px;
}

.social-list-item:last-child {
  padding-right: 0;
}

.social-list-link {
  width: 79px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 60px;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #e74246;
}

.social-list-link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-icon:active {
  opacity:0.3;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo p {
  line-height: 22px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

/* __________________________ */

.items-popup-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.items-popup {
  padding-top: 35px;
  background-color: #eeeeee;
  text-align: center;
  position: absolute;
  width: 360px;
  bottom: 41px;
  right: 0;

}

.items-popup p {
  line-height: 18px;
  color: #666666;
  margin: 0 auto;
  text-align: center;
  max-width: 227px;

}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #eeeeee;
}

.options-price-range label {
  margin-right: 22px;
}

.options-price-range input {
  background-color: #eeeeee;
  text-align: center;
}

.options-price-range,
.options-grid-radio,
.options-special-checkbox {
  list-style: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.options-special-checkbox label {
  line-height: 20px;
  color: #283136;
}

.options-grid-radio li {
  position: relative;
  padding-left: 35px;
  display: block;
}

.input-checkbox + label::before {
  content: "";
  background: url(../img/radio-off.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.input-checkbox:checked + label::after {
  content: "";
  background: url(../img/radio-on.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.options-grid-radio label {
  line-height: 20px;
  color: #283136;
}

.items-sort p {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: auto;
}

.options-price label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.items-sort-options, .items-sort-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-sort-order-item:first-child {
  margin-right: 18px;
}

.items-sort-order-item a {
  opacity: 0.2;
}

.pagination-list {
  list-style: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-list-button {
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 16px 20.449px;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.pagination-list-active {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
  padding: 13.25px 17.449px;
}

.pagination-list-next {
  padding-left: 77.881px;
  padding-right: 77.881px;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  padding-bottom: 33px;
  position: relative;
}

.catalog-item::before {
  content: "";
  background: url(../img/browser.svg) no-repeat center;
  display: block;
  width: 360px;
  height: 39px;
  opacity: 0.12;
}

.button-price {
  margin-top: 30px;
  margin-bottom: 43px;
  padding-left: 60.426px;
  padding-right: 60.426px;
}

.button-price:active {
  color: #ffffff;
}

.items-sort-options {
  display: flex;
  justify-content: flex-end;
  margin-right: 47px;
}

.items-sort-options li {
  margin-right: 26px;
}

.items-sort-options li:last-child {
  margin-right: 0;
}

.items-sort-order {
  display: flex;
  justify-content: space-between;
}

.items-sort-order li:last-child {
  margin-right: 0;
}

.items-sort-options-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.items-sort-options-link:hover,
.items-sort-options-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.items-sort-options-link:active {
  color: #000000;
}

.items-sort-options-link.items-sort-options-current {
  color: black;
}

.popup-link:hover,
.popup-link:focus {
  color: #fb565a;
}

.popup-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form {
  width: 760px;
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 45px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  display: none;
  position: relative;
}

.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/close-cross.svg) no-repeat center;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.input-wrap {
  display: inline-block;
  margin-bottom: 36px;
}

.input-wrap:first-child {
  margin-right: 38px;
}

.popup-form-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 49px;
}

.popup-form label {
  line-height: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
}

.popup-form-field:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.popup-form-field {
  width: 340px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 18px;
  text-align: left;
  border: solid 2px #d7dcde;
}

.popup-form-field::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.popup-form-field:hover,
textarea:hover {
  border: solid 2px #b4b9bb;
}

.popup-form-field:focus,
textarea:focus {
  border: solid 2px #000000;
}

.popup-form-field:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #444444;
}

.options {
  width: 261px;
}

.main-flex {
  display: flex;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.items {
  width: 760px;
}

.items-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}