body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

header {
  background-color:#eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation, .cart-navigation {
  list-style: none;
}

.main-header-logo:hover, .main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation-link:visited, .cart-navigation-link:visited {
  color: black;
}

.site-navigation-link:hover, .cart-navigation-link:hover,
.site-navigation-link:focus, .cart-navigation-link:focus {
  color: #fb565a;
}

.site-navigation-link:active, .cart-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current:hover, .site-navigation-current:focus,
.site-navigation-current, .site-navigation-current:active {
  text-decoration: underline;
  text-decoration-color: #fb565a;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro {
  background-color: #eeeeee;
}

.slide h2, .page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.intro-button-list {
  list-style: none;
}

.slide p, .services-list p,
.about-left p, .about-left li {
  color: #283136;
}

.button {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  text-align: center;
}

/*
.slide-button {
  padding: 19px 55px 18px 53px;
} */

.services-list {
  list-style: none;
}

.services-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

/*
.button-red, .button-green, .button-yellow {
  padding: 19px 39px 18px 39px;
} */

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.about-left-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-left h4, .about-right h4 {
  text-transform: uppercase;
  font-weight: bold;
}

table {
  border-spacing: 25px 27px;
}

.table-first-row {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.table-second-row {
  line-height: 18px;
  color: #283136;
}

.partners-list {
  list-style: none;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover, .partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.contacts h3, .popup-link h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts p, .items-popup p {
  line-height: 18px;
  color: #666666;
}

.items-popup {
  background-color: #eeeeee;
}

/*
.popup-form {
  display: none;
} */

.social-list {
  list-style: none;
}

.social-list-icon {
  background-color: #e1e1e1;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.promo p {
  line-height: 22px;
  color: #444444;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.options-price-range input {
  background-color: #eeeeee;
  text-align: center;
}

.options-price-range, .options-grid-radio,
.options-special-checkbox {
  list-style: none;
}

legend {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.options-special-checkbox label, .options-grid-radio label {
  line-height: 20px;
  color: #283136;
}

.submit-options-button {
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.submit-options-button:hover, .submit-options-button:focus {
  background-color: #dfdfdf;
}

.submit-options-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.items-sort p {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.options-price label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.items-sort-options, .items-sort-order, .items-list, .pagination-list {
  list-style: none;
}

.pagination-list-button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.pagination-list-button:hover, .pagination-list-button:focus {
  background-color: #dfdfdf;
}

.pagination-list-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-button:visited {
  color: #000000;
}

.pagination-list-current,.pagination-list-current:hover,
.pagination-list-current:focus, .pagination-list-button.pagination-list-current:active {
  border: solid 3px #dbdbdb;
  background-color: white;
  color: black;
}

.items-sort-options-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.items-sort-options-link:hover, .items-sort-options-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.items-sort-options-link:active {
  color: #000000;
}

.items-sort-options-link.items-sort-options-current {
  color: black;
}

.slide-button:hover, .slide-button:focus {
  background-color: #e74246;
}

.slide-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-red:hover, .button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-green:hover, .button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-yellow:hover, .button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-icon:hover, .social-list-icon:focus {
  background-color: #e74246;
}

.social-list-icon:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-icon img:active {
  opacity:0.3;
}

.submit-options-button:hover, .submit-options-button:focus {
  background-color: #dfdfdf;
}

.submit-options-button:active, .pagination-list-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.popup-link:hover, .popup-link:focus {
  color: #fb565a;
}

.popup-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form label {
  line-height: 18px;
  font-weight: bold;
}

.popup-form-field:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.popup-form-field, textarea {
  line-height: 18px;
  text-align: left;
  border: solid 2px #d7dcde;
}

.popup-form-field::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.popup-form-field:hover, textarea:hover {
  border: solid 2px #b4b9bb;
}

.popup-form-field:focus, textarea:focus {
  border: solid 2px #000000;
}

.popup-form-field:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #444444;
}
