body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

nav .logo {
  cursor: auto;
}

header {
  background-color:#eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.main-logo-link:hover, .main-logo-link:focus {
  opacity: 0.8;
}

.main-logo-link:active {
  opacity: 0.3;
}

.cart-navigation-link::before {
  content: url("cart-icon.svg");
  width: 15px;
  height: 15px;
  margin-right: 26px;
  
}

.site-navigation-link:visited, .cart-navigation-link:visited {
  color: black;
}

.site-navigation-link:hover, .cart-navigation-link:hover,
.site-navigation-link:focus, .cart-navigation-link:focus {
  color: #fb565a;
}

.site-navigation-link:active, .cart-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current:hover, .site-navigation-current:focus,
.site-navigation-current, .site-navigation-current:active {
  text-decoration: underline;
  text-decoration-color: #fb565a;
  color: #000000;
  cursor: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro {
  background-color: #eeeeee;
}

.slide-two, .slide-three {
  display: none;
}

.slide h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 28px;
}

.intro-button-list {
  list-style: none;
}

.slide p {
  color: #283136;
  margin-top: 0;
  margin-bottom: 42px;
}

.about-left li {
  color: #283136;
}

.about-left p {
  color: #283136;
  margin-top: 0;
  margin-bottom: 42px;
  max-width: 616px;
}

.services-list p {
  color: #283136;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 35px;
  text-align: left;
}

.button {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  text-align: center;
  display: inline-block;
}

.slide-button {
  padding: 17px 54px;
  display: inline-block;
  border-radius: 3px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.services-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 26px;
}

.services {
  padding-bottom: 78px;
  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.button-red, .button-green, .button-yellow {
  padding: 17px 39px;
  border-radius: 3px;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.about-left-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 35px;
}

.about-left-list-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 32px;
}

.about-right-list-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 49px;
  margin-top: 0;
  text-align: center;
}

.about-right img {
  margin-bottom: 41px;
}

.about-left-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-left-list li {
  margin-bottom: 28px;
}

.about-left-list li:last-child {
  margin-bottom: 0;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 46px;
}

.about-left {
  max-width: 650px;
}

.about-right {
  width: 360px;
}

table {
  border-collapse: collapse;
}

.table-first-row {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.table-first-row td {
  padding-right: 20px;
  padding-bottom: 27px;
}

.table-second-row {
  line-height: 18px;
  color: #283136;
}

.partners {
  padding-bottom: 42px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover, .partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.map {
  margin-bottom: 69px;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-link h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 35px;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.items-popup p {
  line-height: 18px;
  color: #666666;
  margin-bottom: 30px;
}

.items-popup {
  background-color: #eeeeee;
  text-align: center;
  display: none;
}

.popup-form {
  display: none;
}

.social-list {
  width: 259px;
  margin-right: 139px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

}

.social-list li {
  padding-right: 12px;
}

.social-list li:last-child {
  padding-right: 0;
}

.social-list-icon {
  width: 79px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 60px;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo p {
  line-height: 22px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #eeeeee;
}

.options-price-range label {
  margin-right: 22px;
}

.options-price-range input {
  background-color: #eeeeee;
  text-align: center;
}

.options-price-range, .options-grid-radio,
.options-special-checkbox {
  list-style: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.options-special-checkbox label, .options-grid-radio label {
  line-height: 20px;
  color: #283136;
}

.submit-options-button {
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.submit-options-button:hover, .submit-options-button:focus {
  background-color: #dfdfdf;
}

.submit-options-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.items-sort p {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.options-price label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.items-sort-options, .items-sort-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 760px;
  flex-wrap: wrap;
  justify-content: center;
}

.items-list li {
  margin-right: 40px;
  margin-bottom: 33px;
}

.items-list li:last-child {
  margin-right: 40px;
  margin-bottom: 33px;
}

.items-sort-options {
  display: flex;
  justify-content: flex-end;
}

.items-sort-options li {
  margin-right: 26px;
}

.items-sort-options li:last-child {
  margin-right: 0;
}

.items-sort-order {
  display: flex;
  justify-content: space-between;
}

.items-sort-order li:last-child {
  margin-right: 0;
}

.pagination-list-button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
  padding: 17px 21px;
}

.pagination-list-current {
  padding: 17px 18px;
}

.pagination-list a {
  display: inline-block;
}

.pagination-list-button:hover, .pagination-list-button:focus {
  background-color: #dfdfdf;
}

.pagination-list-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-button:visited {
  color: #000000;
}

.pagination-list-current,.pagination-list-current:hover,
.pagination-list-current:focus, .pagination-list-button.pagination-list-current:active {
  border: solid 3px #dbdbdb;
  background-color: white;
  color: black;
}

.items-sort-options-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.items-sort-options-link:hover, .items-sort-options-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.items-sort-options-link:active {
  color: #000000;
}

.items-sort-options-link.items-sort-options-current {
  color: black;
}

.slide-button:hover, .slide-button:focus {
  background-color: #e74246;
}

.slide-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-red:hover, .button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-green:hover, .button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-yellow:hover, .button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-icon:hover, .social-list-icon:focus {
  background-color: #e74246;
}

.social-list-icon:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-list-icon img:active {
  opacity:0.3;
}

.social-flex {
  display: flex;
  align-items: center;
  margin-bottom: 69px;
}

.submit-options-button:hover, .submit-options-button:focus {
  background-color: #dfdfdf;
}

.submit-options-button:active, .pagination-list-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.popup-link:hover, .popup-link:focus {
  color: #fb565a;
}

.popup-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form label {
  line-height: 18px;
  font-weight: bold;
}

.popup-form-field:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.popup-form-field, textarea {
  line-height: 18px;
  text-align: left;
  border: solid 2px #d7dcde;
}

.popup-form-field::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.popup-form-field:hover, textarea:hover {
  border: solid 2px #b4b9bb;
}

.popup-form-field:focus, textarea:focus {
  border: solid 2px #000000;
}

.popup-form-field:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #444444;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.intro-button-list {
  display: flex;
  justify-content: center;
}

.intro-button-list li {
  padding-right: 17px;
}

.intro-button-list li:last-child {
  padding-right: 0px;
}

.options {
  margin-right: 100px;
}

.main-flex {
  display: flex;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.items {
  display: flex;
  flex-direction: column;
}

.items-popup {
  width: 360px;
}

.items-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[name="price"] {
  width: 80px;
  height: 38px;
  border: none;
  margin-left: 11px;
}

input[type="range"] {
  min-width: 260px;
}